@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* banner-section style starts here */
.banner-container{
    width: 1440px;
    height: 652px;
    border: 3px dashed rgb(215, 214, 214);
    margin: 0 auto;
    margin-top: 131px;
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-bottom: 80px;

}
.banner-content p, h1{
    color: rgb(13, 19, 33);
}
.banner-image{
    margin-bottom: 32px;
}

.banner-content, h1{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 48px;
        font-weight: 700;
        font-style: normal;
        line-height: 68px;
        text-align: center;
}
.banner-content, p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
justify-content: center;
text-align: center;
margin-bottom: 53px;

}
.banner-btn{
    margin: 32px 0px;
    background-color: black;
    color:white;
    font-size: 20px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
}

/* second part */
#part-2{
    margin: 0 auto;
    width: 1140px;
    height: 1395px;
    margin: 80px;
    /* border: 20px SOLID rgb(215, 214, 214); */
    margin: 0 auto;
    padding: 80px 97px;
    
    
}

#part-2 .second-heading{
                margin-bottom: 24px;
                font-size: 32px;
                font-weight: 800;
                line-height: 37px;
                letter-spacing: 0%;
                text-align: center;
}
#part-2 .second-paragraph{
   margin-right: 78px; 
   text-align:left;

}
.all-btn{
    padding: 20px 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
        }

        .division-2{
            padding: 48px;
            display: flex;
            justify-content: space-between;

        }

#video{
                    width: 1040px;
    height: 652px;
    border: 2px solid rgb(215, 214, 214);
    border-radius: 2px solid red;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    
                 }

#third-box .box3{
            display: inline-flex;
            justify-content: space-around;
            margin: 10px;

}

#last-part{
    box-sizing: border-box;
    border-radius: 5px;
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    border: 3px dashed rgb(215, 214, 214);
    background-image: url(./assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    margin-bottom: 80px;
}
#last-part>.last-content{
    display: flex-start;
    flex-direction: column;
    position: center;
}